name: Sync Labels

on:
  workflow_dispatch:
    # for testing
  push:
    branches:
      - main
    paths:
      - .github/labels.yaml
      - .github/workflows/sync-labels.yaml
  pull_request:
    branches:
      - main
    paths:
      - .github/labels.yaml
      - .github/workflows/sync-labels.yaml

jobs:
  sync-labels:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      issues: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Sync Labels
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .github/labels.yaml
